.welcome-wrapper {
  width: 100wh;
  height: 100vh;
  background-image: url('../../assets/welcome.avif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.welcome-title {
  position: absolute;
  top: 70px;
  right: 100px;
  font-size: 40px;
}
